
@font-face {
   font-family: Aclonica;
   src: url(../fonts/fontFile/Aclonica.ttf);
}


@font-face {
  font-family: AdventPro-Bold;
  src: url(../fonts/fontFile/AdventPro-Bold.ttf);
}

@font-face {
  font-family: AdventPro-ExtraLight;
  src: url(../fonts/fontFile/AdventPro-ExtraLight.ttf);
}

@font-face {
  font-family: AdventPro-Light;
  src: url(../fonts/fontFile/AdventPro-Light.ttf);
}


@font-face {
  font-family: AdventPro-Medium;
  src: url(../fonts/fontFile/AdventPro-Medium.ttf);
}

@font-face {
  font-family: AdventPro-Regular;
  src: url(../fonts/fontFile/AdventPro-Regular.ttf);
}




@font-face {
  font-family: Aldrich-Regular;
  src: url(../fonts/fontFile/Aldrich-Regular.ttf);
}


@font-face {
  font-family: Alegreya-Italic;
  src: url(../fonts/fontFile/Alegreya-Italic.ttf);
}

@font-face {
  font-family: Alegreya-BlackItalic;
  src: url(../fonts/fontFile/Alegreya-BlackItalic.ttf);
}

@font-face {
  font-family: AlexBrush-Regular;
  
  src: url(../fonts/fontFile/AlexBrush-Regular.ttf);
}




